/*
	login
*/
.login {
	background: url(../img/login.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  .find {
    max-width: 100%;
    margin-top: 50%;
  }
  .list {
    margin: 20px;
    .item {
      position: relative;
      background: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: #fff;
      padding-left: 20px;
      color: #fff;
      input {
        color: #fff;
      }
      i {
        position: absolute;
        left: 0;
        top: 8px;
        font-size: 20px;
      }
    }
    button {
      background: #FF6CBD;
      display: block;
      border-radius: 0;
      margin: 15px 0 0 0;
      width: 100%;
      color: #fff;
      text-transform: capitalize;
    }
    .button.facebook {
      background: #46639f;
      color: #fff;
      position: fixed;
      bottom: 2%;
      right: 5%;
      left: 5%;
      padding-left: 0;
      font-weight: 300;
      width: 90%;
      b {
        font-weight: 500;
      }
      i {
        font-size: 18px;
        display: inline-block;
        background: #3c5490;
        padding: 3px 20px;
        float: left;
        margin: -1px;
      }
    }
  }
}

